<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninjas | <%=title %></title>
     <link rel="stylesheet" href="/styles.css";>
     <!-- styles was in views this style wouldn't work and we don't need to write/pubic/styles cuz we know that if it would work it would be from public as we made it a static middleware before itself-->
    <style>
        
      </style>
</head>